<component name="ArtifactManager">
  <artifact type="war" name="springmvcangularjs:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCAngularJS.war">
      <element id="artifact" artifact-name="springmvcangularjs:war exploded" />
    </root>
  </artifact>
</component>